<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <turboFilter class="com.zeromail.core.privacy.SensitiveMarkerScrubFilter"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>scrubbed</includeMdcKeyName>
            <includeMdcKeyName>scrub_reason</includeMdcKeyName>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
